.main{
    max-width: 1200px;
}
.title{margin: 20px 0;height: auto;}
.title h1{text-align: left!important;}
.title h3{margin: 10px;}

.news_item{
    margin-bottom: 30px; border: 4px solid #00FFF0;width: 100%;
    display: flex;flex-direction: column;
}

.news_item:hover    {border: 4px solid white;}
.news_item:hover .news_title{ background-color: white;}
.news_title{
    padding: 10px;
    color: black;
    background-color: #00FFF0;
}
.news_time{
    padding: 20px;
    font-weight: 700;
}
.news_image{
    display: block;
    max-width: 100%;
    height: auto;
}

.news_image img{
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.news_text{
    padding: 25px;
    font-size: 22px;
    line-height:1.4 ;
}



.fixed{
    position: fixed;
    display: none;
}


.scroll_panel {
	position: absolute;top: 20vh;right: 0;left: 0;bottom: 0;
	width: 100%;

}
.scroll_panel:hover {
	background: #eee; 
}
 
/* Наверх */
#scroll_top {
	display: block;
	width: 100%;
	height: 50%;	
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
    
}
#scroll_top span {
	display: block;
	width: 100%;	
	position: absolute;
	left: 0;	
	top: 200px;
    height: 200px;
    background-color: #00FFF0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
#scroll_top:hover {
	background: white;  	
	opacity: 1;
}
 
/* Вниз */
#scroll_bottom {
	display: block;
	width: 100%;
	height: 50%;	
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
    

}
#scroll_bottom span {
	display: block;
	width: 100%;	
	position: absolute;
	left: 0;	
    height: 200px;
    background-color: #00FFF0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
#scroll_bottom:hover {
	background: white; 
 	opacity: 1;
}
 
/* Скрытие панели при маленькой ширине окна */
@media screen and (max-width: 700px) {
	.scroll_panel {
		display: none;
	}
}