/*  Навигация */

nav.navigation{
    background-color: black;border-left: 4px solid #00FFF0;
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
    display: flex;flex-direction: column;justify-content: space-between;
    position: fixed;left:0;top:48px;height: calc(100% - 48px);
    width: 70px;
    z-index:100;
}
nav.navigation p{
    margin: 0;
    font-size: 12px;
}

nav.navigation  a{
    background-color: black;
    display: flex;flex-direction: column;justify-content: center;align-items:center;
    padding: 6px;
}

nav.navigation a.error{justify-self:flex-end;}
nav.navigation .config{
    margin-top: 10px; padding: 0;
    background-color: black;
    display: flex;flex-direction: row;justify-content: space-between;
}
nav.navigation .config *{
    display: flex;justify-content: center;
    margin: 0;padding: 2px;
    width: 30px;
}
nav.navigation .config :not(img):hover  {background-color: white;color: black;}
nav.navigation .config:hover            {cursor: pointer;}
nav.navigation a img                    {width:  30px;height: 30px;}
nav.navigation a:not(.config):hover     {cursor: pointer;color: black;background-color: white;}/**/
a.error p                               {color: #FF433F;}

/*Пасхалка*/

/* @media screen and (max-width: 640px){
    nav.navigation{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        height: auto;
        flex-direction: row;
        
        margin-top: 84px;
    
        width: 100%!important;
        justify-content: center;
        z-index:99;
    }
    nav.navigation p{
        font-size: 18px;
    }
    nav.navigation span{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    nav.navigation  a{
        height: 100px;
        width: 200px;
    }
    nav.navigation .config{
       margin-top: 10px;
       background-color: black;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav.navigation a img{width:  50px;height: 50px;}
} */
